<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test suite"
       parallel="false"
       thread-count="1"
       verbose="1"
       configfailurepolicy="continue">

    <groups>
        <run>
            <include name="Multfilms"/>
            <include name="Serials"/>
        </run>
    </groups>

    <test name="OnlineCinemaTests">
        <classes>
            <class name="test.GenreOfFilmsTest"/>
            <class name="test.GenreOfMultfilmsTest"/>
            <class name="test.GenreOfSerialsTest"/>
        </classes>
    </test>

</suite>